@import "../../scss/helpers";
@import "../../scss/variables";

.Input {
  background-color: rgba(get-color("color-accent"), 0.1);
  border: none;
  border-radius: spaceby();
  font-size: spaceby(2);
  padding: spaceby(2);
  width: 100%;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px var(--color-accent);
  }
}
