@import "./scss/helpers";

.App {
  display: grid;
  gap: spaceby(4);
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
  padding: spaceby(2);
}

.App__logo {
  text-align: center;
  grid-column-end: span 3;
}

.App__ratio-label {
  margin: spaceby(4) 0 0 0;
  font-size: 0.9em;
  font-weight: bold;
}

.App__output {
  white-space: pre-wrap;
}
