@import "./scss/helpers";
@import "./scss/variables";

:root {
  --base-space: 8px;

  @each $color, $hex in $colors {
    --color-#{$color}: #{$hex};
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--color-main);
  color: var(--color-body);
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(var(--base-space) * 2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin-top: 0;
}

// Aux classes
.txt-weight-bold {
  font-weight: bold;
}

.txt-size-2 {
  font-size: spaceby(2);
}

.txt-size-3 {
  font-size: spaceby(3);
}

.margin-bottom-3 {
  margin-bottom: spaceby(3);
}

.margin-bottom-4 {
  margin-bottom: spaceby(3);
}
